.jumbotron {
  background: #080f004e;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.body {
  background: #7c1f1f;
}
hr {
  border-color: inherit;
  margin: 1em 0;
}
.Mntitle {
  color: white;
}
#resultsModal img {
  overflow: hidden;
  width: 500px;
}
